/* Variable Fonts */

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/MANROPE-VARIABLE.ttf') format('truetype-variations');
	/* Manrope typically supports weight 200 to 800 */
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2-variations');
	/* Inter supports weights from 100 to 900 */
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

/* Static Fonts (Poppins & Nightmark) */

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Nightmark';
	src: url('/fonts/Nightmark-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nightmark';
	src: url('/fonts/Nightmark-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nightmark';
	src: url('/fonts/Nightmark-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Nightmark';
	src: url('/fonts/Nightmark-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}