@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.woff2');
	font-weight: normal;
	font-style: normal;
}
